/* *::before,
*::after {
  box-sizing: border-box;
} */

* {
    font-size: 24px;
}

body {
    font-family: 'Big Shoulders Display';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#scoreBoard{
    display: none;
}

#rules p {
    text-align: center;
}

.moves-container {
    display: none;
    justify-content: center;
}

.moves-container button {
    margin: 10px;
    border: 2px solid;
    border-radius: 15px;
    padding: 25px;
    width: 200px;
}

.smaller-font {
    font-size: small;
}

.enemy {
    width: 300px;
}

.battle-container {
    display: flex;
    justify-content: space-around;
}

.battle-container img{
    max-width: 100px;
    margin-top: -15px;
    margin-bottom: -20px;
}

.battle-container p{
    padding: 10px;
    font-size: 22px;
}

p {
    margin: auto;
    padding: 15px;
}

#result {
    margin-top: 15px;
    font-size: 24px;
}


.scoreButton {
    margin: 10px;
    border: 2px solid;
    border-radius: 15px;
    padding: 25px;
    width: 200px;
}

/* li {
    padding: 45px;
    display: inline-flex;
    justify-content: space-between;
} */

/* ol {
    display: grid;
} */

/* .points {
    margin-left: 2em;
} */


/* I need to review the code below */

#scoreBoard {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    background: linear-gradient(to bottom, #3a404d, #181c26);
    border-radius: 10px;
    box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}

#scoreBoard h1 {
    font-size: 32px;
    color: #e1e1e1;
    padding: 12px 13px 18px;
}

#scoreBoard ol li {
    list-style: none;
    position: relative;
    content: "";
    margin-left: -40px;
    font-size: 24px;
    font-weight: bold;
    padding: 18px 10px 18px 50px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
}

#scoreBoard ol li::before{
    font-size: 16px;
    font-weight: bold;
    color: aqua;
}

#scoreBoard ol li .name {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 18px 10px 18px 50px;
    margin: 0;
    background: none;
    color: #fff;
    left: auto;
    right: -9px;
    border-left: none;
    border-right: 10px solid transparent;
}

#scoreBoard ol li .points {
    position: relative;
    display: block;
    color: #fff;
    text-align: right;
}

#scoreBoard ol li:nth-child(1) {
    background: #fa6855;
}

#scoreBoard ol li:nth-child(2) {
    background: #e0574f;
}

#scoreBoard ol li:nth-child(3) {
    background: #d7514d;
}

#scoreBoard ol li:nth-child(4) {
    background: #cd4b4b;
    border-radius: 0 0 10px 10px;
}