body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moves-container {
    display: flex;
}

.moves-container div {
    margin: 10px;
    border: 2px solid;
    border-radius: 15px;
    padding: 25px;
}

.smaller-font {
    font-size: small;
}