body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#scoreBoard{
    display: none;
}

#rules p {
    text-align: center;
}

.moves-container {
    display: none;
    justify-content: center;
}

.moves-container button {
    margin: 10px;
    border: 2px solid;
    border-radius: 15px;
    padding: 25px;
    width: 200px;
}

.smaller-font {
    font-size: small;
}

.enemy {
    width: 300px;
}

.battle-container {
    display: flex;
    justify-content: space-around;
}

p {
    margin: auto;
    padding: 15px;
}

#result {
    margin-top: 15px;
}


.scoreButton {
    margin: 10px;
    border: 2px solid;
    border-radius: 15px;
    padding: 25px;
    width: 200px;
}

li {
    padding: 45px;
    display: inline-flex;
    justify-content: space-between;
}

ol {
    display: grid;
    justify-content: center;
}

.points {
    margin-left: 2em;
}